body {
  background-color: $body-color;
  overflow-x: hidden;
  background-image: url("data:image/svg+xml,%3Csvg width='1528' height='1422' viewBox='0 0 1528 1422' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='835.939' y1='827.456' x2='888.972' y2='774.423' stroke='%23EEEEEE' stroke-width='3'/%3E%3Cline x1='859.955' y1='816.972' x2='912.988' y2='763.939' stroke='%23EEEEEE' stroke-width='3'/%3E%3Cline x1='1038.94' y1='224.456' x2='1091.97' y2='171.423' stroke='%23EEEEEE' stroke-width='3'/%3E%3Cline x1='1062.95' y1='213.972' x2='1115.99' y2='160.939' stroke='%23EEEEEE' stroke-width='3'/%3E%3Cline x1='935.939' y1='1162.46' x2='988.972' y2='1109.42' stroke='%23EEEEEE' stroke-width='3'/%3E%3Cline x1='959.955' y1='1151.97' x2='1012.99' y2='1098.94' stroke='%23EEEEEE' stroke-width='3'/%3E%3Cline x1='486.939' y1='651.456' x2='539.972' y2='598.423' stroke='%23EEEEEE' stroke-width='3'/%3E%3Cline x1='510.955' y1='640.972' x2='563.988' y2='587.939' stroke='%23EEEEEE' stroke-width='3'/%3E%3Cline x1='16.9393' y1='1057.46' x2='69.9724' y2='1004.42' stroke='%23EEEEEE' stroke-width='3'/%3E%3Cline x1='40.955' y1='1046.97' x2='93.988' y2='993.939' stroke='%23EEEEEE' stroke-width='3'/%3E%3Cline x1='1421.94' y1='563.456' x2='1474.97' y2='510.423' stroke='%23EEEEEE' stroke-width='3'/%3E%3Cline x1='1445.95' y1='552.972' x2='1498.99' y2='499.939' stroke='%23EEEEEE' stroke-width='3'/%3E%3Cline x1='1448.94' y1='891.456' x2='1501.97' y2='838.423' stroke='%23EEEEEE' stroke-width='3'/%3E%3Cline x1='1472.95' y1='880.972' x2='1525.99' y2='827.939' stroke='%23EEEEEE' stroke-width='3'/%3E%3Cline x1='375.939' y1='1226.46' x2='428.972' y2='1173.42' stroke='%23EEEEEE' stroke-width='3'/%3E%3Cline x1='399.955' y1='1215.97' x2='452.988' y2='1162.94' stroke='%23EEEEEE' stroke-width='3'/%3E%3Cline x1='1317.94' y1='1399.46' x2='1370.97' y2='1346.42' stroke='%23EEEEEE' stroke-width='3'/%3E%3Cline x1='1341.95' y1='1388.97' x2='1394.99' y2='1335.94' stroke='%23EEEEEE' stroke-width='3'/%3E%3Cline x1='608.939' y1='1420.46' x2='661.972' y2='1367.42' stroke='%23EEEEEE' stroke-width='3'/%3E%3Cline x1='632.955' y1='1409.97' x2='685.988' y2='1356.94' stroke='%23EEEEEE' stroke-width='3'/%3E%3Cline x1='1414.94' y1='118.456' x2='1467.97' y2='65.4228' stroke='%23EEEEEE' stroke-width='3'/%3E%3Cline x1='1438.95' y1='107.972' x2='1491.99' y2='54.9394' stroke='%23EEEEEE' stroke-width='3'/%3E%3Cline x1='471.939' y1='362.456' x2='524.972' y2='309.423' stroke='%23EEEEEE' stroke-width='3'/%3E%3Cline x1='495.955' y1='351.972' x2='548.988' y2='298.939' stroke='%23EEEEEE' stroke-width='3'/%3E%3Cline x1='897.939' y1='509.456' x2='950.972' y2='456.423' stroke='%23EEEEEE' stroke-width='3'/%3E%3Cline x1='921.955' y1='498.972' x2='974.988' y2='445.939' stroke='%23EEEEEE' stroke-width='3'/%3E%3Cline x1='1.93934' y1='438.456' x2='54.9723' y2='385.423' stroke='%23EEEEEE' stroke-width='3'/%3E%3Cline x1='25.955' y1='427.972' x2='78.988' y2='374.939' stroke='%23EEEEEE' stroke-width='3'/%3E%3Cpath d='M164.518 720.506L159.759 738.265L146.759 725.264L164.518 720.506Z' fill='%23EEEEEE'/%3E%3Cpath d='M696.518 942.506L691.759 960.265L678.759 947.264L696.518 942.506Z' fill='%23EEEEEE'/%3E%3Cpath d='M396.518 87.5059L391.759 105.265L378.759 92.2644L396.518 87.5059Z' fill='%23EEEEEE'/%3E%3Cpath d='M694.509 699.503L688.484 721.987L672.025 705.528L694.509 699.503Z' fill='%23EEEEEE'/%3E%3Cpath d='M121.509 1250.5L115.484 1272.99L99.0246 1256.53L121.509 1250.5Z' fill='%23EEEEEE'/%3E%3Cpath d='M1403.74 651.736L1398.84 670.039L1385.44 656.64L1403.74 651.736Z' fill='%23EEEEEE'/%3E%3Cpath d='M409.206 885.736L404.302 904.039L390.903 890.64L409.206 885.736Z' fill='%23EEEEEE'/%3E%3Cpath d='M727.206 163.736L722.302 182.039L708.903 168.64L727.206 163.736Z' fill='%23EEEEEE'/%3E%3Cpath d='M1310.51 335.503L1304.48 357.987L1288.02 341.528L1310.51 335.503Z' fill='%23EEEEEE'/%3E%3Cpath d='M1145.51 856.503L1139.48 878.987L1123.02 862.528L1145.51 856.503Z' fill='%23EEEEEE'/%3E%3Cpath d='M985.509 1367.5L979.484 1389.99L963.025 1373.53L985.509 1367.5Z' fill='%23EEEEEE'/%3E%3Cpath d='M1502.51 1154.5L1496.48 1176.99L1480.02 1160.53L1502.51 1154.5Z' fill='%23EEEEEE'/%3E%3Cpath d='M62.0186 237.673L54.6183 265.291L34.4003 245.073L62.0186 237.673Z' fill='%23EEEEEE'/%3E%3Cline x1='63.9393' y1='65.4558' x2='116.972' y2='12.4228' stroke='%23EEEEEE' stroke-width='3'/%3E%3Cline x1='87.955' y1='54.9724' x2='140.988' y2='1.93935' stroke='%23EEEEEE' stroke-width='3'/%3E%3C/svg%3E%0A");
  background-position: top center;
}

::selection {
  background: lighten($color: $color-primary, $amount: 10);
  color: $white;
}

/* preloader */
.preloader {
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $body-color;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  transition: .4s ease-out;

  &.loaded {
    opacity: 0;
    visibility: hidden;
  }

  .lds-grid {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    transform: rotate(45deg);
  }

  .lds-grid div {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: $color-primary;
    animation: lds-grid 1.2s linear infinite;
  }

  .lds-grid div:nth-child(1) {
    top: 8px;
    left: 8px;
    animation-delay: 0s;
  }

  .lds-grid div:nth-child(2) {
    top: 8px;
    left: 32px;
    animation-delay: -0.4s;
  }

  .lds-grid div:nth-child(3) {
    top: 8px;
    left: 56px;
    animation-delay: -0.8s;
  }

  .lds-grid div:nth-child(4) {
    top: 32px;
    left: 8px;
    animation-delay: -0.4s;
  }

  .lds-grid div:nth-child(5) {
    top: 32px;
    left: 32px;
    animation-delay: -0.8s;
  }

  .lds-grid div:nth-child(6) {
    top: 32px;
    left: 56px;
    animation-delay: -1.2s;
  }

  .lds-grid div:nth-child(7) {
    top: 56px;
    left: 8px;
    animation-delay: -0.8s;
  }

  .lds-grid div:nth-child(8) {
    top: 56px;
    left: 32px;
    animation-delay: -1.2s;
  }

  .lds-grid div:nth-child(9) {
    top: 56px;
    left: 56px;
    animation-delay: -1.6s;
  }

  @keyframes lds-grid {

    0%,
    100% {
      opacity: 1;
    }

    50% {
      opacity: 0.2;
    }
  }
}

img {
  vertical-align: middle;
  border: 0;
  max-width: 100%;
  height: auto;
}

a,
a:hover,
a:focus {
  text-decoration: none;
  display: inline-block;
}

a,
button,
select {
  cursor: pointer;
  transition: 0.2s ease;

  &:focus {
    outline: 0;
  }
}

a:hover {
  color: $color-primary;
}

.section {
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;

  @include desktop {
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
  }

  &-sm {
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
  }

  &-title {
    margin-bottom: 1.875rem;
  }
}

.bg-cover {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.border-default {
  border-color: $border-color !important;
}

/* overlay */
.overlay {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: $black;
    opacity: 0.5;
  }
}

.outline-0 {
  outline: 0 !important;
}

.bg-primary {
  background: $color-primary !important;
}

.text-primary {
  color: $color-primary !important;
}

.text-default {
  color: $text-color !important;
}

.zindex-1 {
  z-index: 1;
}

// swiper common style
:root {
  --swiper-navigation-size: 18px;
  --swiper-navigation-color: $white;
}

.swiper-button-next,
.swiper-button-prev {
  padding: 25px;
  background: $color-primary;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  font-size: 0px;
  background: $color-primary;
  opacity: 0.2;
  border-radius: 10px;

  &-active {
    opacity: 1;
    width: 20px;
  }
}

// content style
.content {
  img {
    max-width: 100%;
  }

  a {
    color: $text-dark;

    &:hover {
      color: $color-primary;
    }
  }

  ol,
  ul {
    padding-left: 20px;

    li {
      margin-bottom: 10px;
    }
  }

  ul {
    padding-left: 0;
    margin-bottom: 20px;
    list-style-type: none;

    li {
      padding-left: 20px;
      position: relative;

      &::before {
        position: absolute;
        content: "";
        height: 8px;
        width: 8px;
        border-radius: 50%;
        background: $text-dark;
        left: 3px;
        top: 8px;
      }
    }
  }

  table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    border: 1px solid $border-color;
  }

  table td,
  table th {
    padding: 0.75rem;
    vertical-align: top;
    margin-bottom: 0;
  }

  tr:not(:last-child) {
    border-bottom: 1px solid $border-color;
  }

  th {
    font-weight: 500;
  }

  thead {
    background: $light;
    margin-bottom: 0;

    tr {
      border-bottom: 1px solid $border-color;
    }
  }

  tbody {
    background: lighten($color: $light, $amount: 5);
    margin-bottom: 0;
  }

  .notices {
    margin: 2rem 0;
    position: relative;
    overflow: hidden;
  }

  .notices p {
    padding: 10px;
    margin-bottom: 0;
  }

  .notices p::before {
    position: absolute;
    top: 2px;
    color: $white;
    font-family: $font-icon;
    font-weight: 900;
    content: "\f05a";
    left: 10px;
  }

  .notices.note p {
    border-top: 30px solid #6ab0de;
    background: #e3f4ff;
  }

  .notices.note p::after {
    content: "Note";
    position: absolute;
    top: 2px;
    color: $white;
    left: 2rem;
  }

  .notices.tip p {
    border-top: 30px solid #78c578;
    background: #e2ffe2;
  }

  .notices.tip p::after {
    content: "Tip";
    position: absolute;
    top: 2px;
    color: $white;
    left: 2rem;
  }

  .notices.info p {
    border-top: 30px solid #f0b37e;
    background: #ffedde;
  }

  .notices.info p::after {
    content: "Info";
    position: absolute;
    top: 2px;
    color: $white;
    left: 2rem;
  }

  .notices.warning p {
    border-top: 30px solid #e06f6c;
    background: #ffdad8;
  }

  .notices.warning p::after {
    content: "Warning";
    position: absolute;
    top: 2px;
    color: #fff;
    left: 2rem;
  }

  blockquote {
    font-size: 20px !important;
    color: $text-color;
    padding: 20px 40px;
    border-left: 2px solid $color-primary;
    margin: 40px 0;
    font-weight: bold;
    background: $light;

    p {
      margin-bottom: 0 !important;
    }
  }

  pre {
    display: block;
    padding: 9.5px;
    margin: 10px 0px 10px;
    white-space: pre-wrap;
  }

  code {
    margin-bottom: 0 !important;
    font-size: 100%;
  }
}

.img-drop-shadow {
  filter: drop-shadow(0px 10px 50px rgba(0, 0, 0, 0.08));
  -webkit-filter: drop-shadow(0px 10px 50px rgba(0, 0, 0, 0.08));
}

// input from style
.form-control,
option {
  color: #B0B0B0;
  font-size: 16px;
  border-color: #D9D9D9;
  border-radius: 5px;
  padding: 15px 20px;

  &:focus {
    box-shadow: none;
    border-color: #888888;
  }

  &::placeholder {
    color: #999;
  }
}

label {
  font-size: 16px !important;
  color: #555 !important;
  font-family: $font-primary;
}

textarea.form-control {
  height: auto;

  &::placeholder {
    color: #999;
  }
}

.form-check-input {
  border: 2px solid #D9D9D9;
}

.form-check-input[type="checkbox"] {
  border-radius: 0;
}

.form-check-input:checked {
  background-color: $color-primary;
  border-color: $color-primary;
}

.form-check-input:focus {
  border-color: $color-primary;
  outline: 0;
  box-shadow: none;
}

.form-check-label {
  color: #b7b7b7 !important;
}
