<!-- action start -->
<section class="section pt-0">
    <div class="container">
        <div class="row justify-content-around action gap-4 text-center text-lg-start">
            <div class="col-lg-5">
                <h2 class="h1 text-white pb-4 mb-2">Helping teams in the
                    world with focus</h2>
                <a class="btn btn-primary" href="#!">Download The Theme</a>
            </div>
            <div class="col-lg-4">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi egestas Werat viverra id et
                    aliquet. vulputate egestas sollicitudin.</p>
            </div>
        </div>
    </div>
</section>
<!-- action end -->