<!-- back to top button -->
<button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fas fa-angle-up"></i></button>
<!-- back to top button -->

<!-- Bootstrap JS -->
<!-- <script src="../plugins/bootstrap/bootstrap.min.js"></script>/ -->
<script src="../plugins/bootstrap/bootstrap.bundle.min.js"></script>
<!-- Swiper JS -->
<script src="../plugins/swiper/swiper-bundle.js"></script>
<!-- counter JS -->
<script src="../plugins/counter-up/functions.js"></script>
<!-- shuffle JS -->
<script src="../plugins/shuffle/shuffle.js"></script>

<!-- Main Script -->
<script src="../js/script.js"></script>

</html>
</body>
