 <!-- footer start -->
 <footer class="footer">
   <div class="container">
     <div class="row justify-content-around text-center text-sm-start pb-5 border-bottom gy-5">
       <div class="col-lg-3 col-sm-6">
         <a href="index.html"><img src="images/logo/logo.png" alt="logo"></a>
         <p class="pt-2 pt-lg-4 text-muted">Lorem ipsum dolor sit sed dmi amet, consectetur adipiscing. Cdo
           tellus,
           sed condimentum volutpat. </p>
       </div>
       <div class="col-lg-3 col-sm-6">
         <h4 class="fw-semibold pb-lg-4 mb-2">Socials</h4>
         <a href="mailto:limonali105@gmail.com" class="contact-mail">limonali105@gmail.com</a>
         <ul class="list-unstyled social-icon">
           <li><a href="#!"><i class="fa-brands fa-facebook"></i></a></li>
           <li><a href="#!"><i class="fa-brands fa-twitter"></i></a></li>
           <li><a href="#!"><i class="fa-brands fa-linkedin-in"></i></a></li>
           <li><a href="#!"><i class="fa-brands fa-skype"></i></a></li>
         </ul>
       </div>
       <div class="col-lg-2 col-sm-6">
         <h4 class="fw-semibold pb-lg-4 mb-2">Quick Links</h4>
         <ul class="list-unstyled quick-links">
           <li><a href="about.html">About</a></li>
           <li><a href="#!">Category</a></li>
           <li><a href="#!">Testimonial</a></li>
           <li><a href="contact.html">Contact</a></li>
         </ul>
       </div>
       <div class="col-lg-3 col-sm-6">
         <h4 class="fw-semibold pb-lg-4 mb-2">Location & Contact</h4>
         <p class="text-muted">2118 Thornridge Cir. Syracuse,
           Connecticut 35624</p>
         <a class="call-number" href="tel:555-0127">(704) 555-0127</a>
       </div>
     </div>
     <div class="row">
       <div class="col-12 text-center">
         <p class="copyright py-4 mb-0">Designed and Developed By <a href="https://limon105-dev.github.io/Limon-Ali">Md Limon Ali</a>
         </p>
       </div>
     </div>
   </div>
 </footer>
 <!-- footer end -->

 <!-- back to top button -->
 <button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fas fa-angle-up"></i></button>
 <!-- back to top button -->

 <!-- Bootstrap JS -->
 <!-- <script src="../plugins/bootstrap/bootstrap.min.js"></script>/ -->
 <script src="../plugins/bootstrap/bootstrap.bundle.min.js"></script>
 <!-- Swiper JS -->
 <script src="../plugins/swiper/swiper-bundle.js"></script>
 <!-- counter JS -->
 <script src="../plugins/counter-up/functions.js"></script>
 <!-- shuffle JS -->
 <script src="../plugins/shuffle/shuffle.js"></script>

 <!-- Main Script -->
 <script src="../js/script.js"></script>

 </body>

 </html>
