<!DOCTYPE html>
<html lang="zxx">

<head>
  <meta charset="utf-8">
  <title>Pinwheel</title>

  <!-- responsive meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">

  <!-- theme meta -->
  <meta name="theme-name" content="pinwheel" />

  <!-- ** Plugins Needed for the Project ** -->
  <!-- google font -->
  <link
    href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap"
    rel="stylesheet">

  <!-- Swiper slider -->
  <link rel="stylesheet" href="../plugins/swiper/swiper-bundle.css">

  <!-- Fontawesome -->
  <link rel="stylesheet" href="../plugins/font-awesome/v6/brands.css">
  <link rel="stylesheet" href="../plugins/font-awesome/v6/solid.css">
  <link rel="stylesheet" href="../plugins/font-awesome/v6/fontawesome.css">

  <!-- Bootstrap -->
  <link href="css/bootstrap.css" rel="stylesheet">

  <!-- Main Stylesheet -->
  <link href="css/style.css" rel="stylesheet">

  <!--Favicon-->
  <link rel="shortcut icon" href="../images/favicon.png" type="image/x-icon">

</head>

<body class="">
  <div class="preloader">
    <div class="lds-grid">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
