<!DOCTYPE html>
<html lang="zxx">

<head>
  <meta charset="utf-8">
  <title>Pinwheel</title>

  <!-- responsive meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">

  <!-- theme meta -->
  <meta name="theme-name" content="pinwheel" />

  <!-- ** Plugins Needed for the Project ** -->
  <!-- google font -->
  <link
    href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap"
    rel="stylesheet">

  <!-- Swiper slider -->
  <link rel="stylesheet" href="../plugins/swiper/swiper-bundle.css">

  <!-- Fontawesome -->
  <link rel="stylesheet" href="../plugins/font-awesome/v6/brands.css">
  <link rel="stylesheet" href="../plugins/font-awesome/v6/solid.css">
  <link rel="stylesheet" href="../plugins/font-awesome/v6/fontawesome.css">

  <!-- Bootstrap -->
  <link href="css/bootstrap.css" rel="stylesheet">

  <!-- Main Stylesheet -->
  <link href="css/style.css" rel="stylesheet">

  <!--Favicon-->
  <link rel="shortcut icon" href="../images/favicon.png" type="image/x-icon">

</head>

<body>
  <div class="preloader">
    <div class="lds-grid">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>

  <header class="header_nav">
    <!-- navbar start -->
    <nav class="navbar navbar-expand-lg">
      <div class="container">
        <a class="navbar-brand pt-0" href="index.html">
          <img src="images/logo/logo.png" alt="logo">
        </a>
        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation" title="navbar-dropdown">
          <span class="menu-btn-wrapper">
            <span class="menu-btn"><span></span><span></span><span></span></span>
          </span>
        </button>
        <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
          <ul class="navbar-nav m-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="index.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="about.html">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="how-it-work.html">How It Work</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="features.html">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="blog.html">Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="contact.html">Contact</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link" role="button" data-bs-toggle="dropdown" href="#!">
                Pages <i class="fa-solid fa-angle-down"></i>
              </a>
              <ul class="dropdown-menu text-center text-lg-start">
                <li><a class="dropdown-item" href="pricing.html">Pricing</a></li>
                <li><a class="dropdown-item" href="integration.html">Integration</a></li>
                <li><a class="dropdown-item" href="integration-single.html">Integration Single</a></li>
                <li><a class="dropdown-item" href="career.html">Career</a></li>
                <li><a class="dropdown-item" href="career-single.html">Career Single</a></li>
                <li><a class="dropdown-item" href="blog-single.html">Blog Single</a></li>
                <li><a class="dropdown-item" href="signin.html">Login</a></li>
                <li><a class="dropdown-item" href="signup.html">Sign Up</a></li>
                <li><a class="dropdown-item" href="changelog.html">Changelog</a></li>
                <li><a class="dropdown-item" href="terms.html">Terms & Condition</a></li>
              </ul>
            </li>
          </ul>
          <a class="btn btn-primary" href="signup.html">Sign Up Now</a>
        </div>
      </div>
    </nav>
    <!-- navbar end -->
  </header>
  <div class="header_height_fix"></div>
