// ..navbar start.. //
.header_nav {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9992;
  transform: translateY(0);

  &.nav-fixed {
    position: fixed;
    background-color: #fff;
    top: -80px;
    transform: translateY(80px);
    transition: transform .3s;

    .navbar {
      padding: 0.8rem 0;
      box-shadow: 0 15px 55px 0 rgba(0, 0, 0, .08);
      // transition: .15s ease-out;
    }
  }
}

.header_height_fix {
  height: 89px;
}

.navbar {
  padding: 1.5rem 0;

  .nav-link {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 0 !important;
    padding-right: 0 !important;
    color: $text-dark;
    font-size: 15px;
    font-weight: 400;
    text-transform: capitalize;
    margin-right: 16px;
    margin-left: 16px;
    position: relative;

    @include desktop-lg {
      margin-right: 12px;
      margin-left: 12px;
    }

    &::before {
      position: absolute;
      content: "";
      left: 0;
      bottom: 12px;
      width: 0;
      height: 2px;
      border-radius: 50px;
      background: $gradient-primary;
      transition: width 0.3s linear;
    }

    &:hover::before {
      width: 100%;
    }

    i {
      height: 3px;
      padding-left: 8px;
    }
  }

  .navbar-collapse {
    .btn-primary {
      background: #fff;
      color: #222;
      box-shadow: none;
      box-shadow: 0px 15px 34px rgba(0, 0, 0, 0.1);

      &:hover {
        box-shadow: 0px 15px 34px rgba(0, 0, 0, 0.1);
      }
    }
  }

  .dropdown {
    .dropdown-menu {
      border: none;
      padding: 15px;
      box-shadow: 0 .9rem 1.56rem rgba(0, 0, 0, .1);

      .dropdown-item {
        padding: .5rem .9rem;
        color: $text-dark;
        font-size: 15px;
        font-weight: 400;
        border-radius: 8px;
        text-transform: capitalize;
        transition: color .3s, background-color .3s;

        &:hover {
          color: $color-primary;
          background-color: rgba(254, 96, 25, 7%);
        }
      }
    }
  }
}

.navbar-toggler {
  padding: 10px;
  overflow: hidden;
  background: $white;

  &:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none;
  }

  .menu-btn-wrapper {
    .menu-btn {
      position: relative;
      display: block;
      width: 25px;
      height: 20px;
      cursor: pointer;

      span {
        opacity: 1;
        left: 0;
        display: block;
        width: 100%;
        height: 2px;
        border-radius: 10px;
        background-color: $text-dark;
        position: absolute;
        transform: rotate(0deg);
        transition: .4s ease-in-out;

        &:nth-child(1) {
          top: 0;
          transform: translateY(9px) rotate(135deg);
        }

        &:nth-child(2) {
          top: 9px;
          opacity: 0;
          transform: translateX(60px);
        }

        &:nth-child(3) {
          top: 18px;
          transform: translateY(-9px) rotate(-135deg);
        }
      }
    }
  }

  &.collapsed {
    .menu-btn-wrapper {
      .menu-btn {
        span {
          &:nth-child(1) {
            top: 0;
            transform: translateY(0) rotate(0deg);
          }

          &:nth-child(2) {
            top: 9px;
            opacity: 1;
            transform: translateX(0px);
          }

          &:nth-child(3) {
            top: 18px;
            transform: translateY(0px) rotate(0deg);
          }
        }
      }
    }
  }
}

@media (max-width: 991px) {

  .navbar-collapse {
    background: $white;
    box-shadow: 0 .9rem 1.56rem rgba(0, 0, 0, .1);
    border-radius: 10px;
    transform: translateY(.9rem);

    .navbar-nav {
      padding: .9rem;
      max-width: 300px;
    }

    .btn-primary {
      margin-bottom: 1.5rem;
      background: $gradient-secondary !important;
      color: $white !important;
    }
  }

  .navbar .nav-item .nav-link {
    padding: 0;
    margin: 10px 0;
    display: inline-block;
  }

  .navbar .nav-item .nav-link:hover {
    color: $color-primary;
  }

  .navbar .nav-link::before {
    display: none;
  }

  .navbar-nav .dropdown .dropdown-menu {
    width: 250px;
    margin: 0 auto;

    .dropdown-item {
      &:hover {
        background-color: rgba(254, 96, 25, 7%);
      }
    }

  }
}

@media (min-width: 992px) {
  .navbar {
    .dropdown {
      .dropdown-menu {
        display: block;
        pointer-events: none;
        opacity: 0;
        visibility: hidden;
        margin: 1rem 0 0 0;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        transition: all 0.3s ease-in-out;
      }

      &:hover {
        .dropdown-menu {
          opacity: 1;
          visibility: visible;
          pointer-events: auto;
          margin: 0;
        }
      }
    }
  }
}

// ..navbar end.. //
